# Django & Co
setuptools<58.0.0
Django>=4.0.2
djangorestframework==3.14
django-filter==21.1
djoser==2.1.0
django-cors-headers==3.11.0
Celery
django-celery
django-celery-results
celery-progress==0.1.2
psycopg2-binary
affine==2.3.1
numpy==1.23.1
tabulate==0.8.10
pandas==1.4.3
matplotlib==3.5.2
lxml==4.9.1
psutil==5.9.1
scipy==1.8.1
seaborn==0.11.2
statsmodels==0.13.2
networkx==2.8.5