# Django & Co
Django
djangorestframework
django-filter
djoser
django-cors-headers
Celery
django-celery-results
celery-progress
psycopg2-binary
affine
numpy
tabulate
pandas
matplotlib
lxml
psutil
scipy
seaborn
statsmodels
networkx